body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.289);
}
#calculator{
    font-family: arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.344);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
     background-color: rgba(0, 0, 0, 0.344);
     color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border: none;
 }
 button:hover{
    background-color: rgba(0, 0, 0, 0.468);
}
button:active{
    background-color: rgba(0, 0, 0, 0.605);
}
.operator-btn{
    background-color: rgba(255, 166, 0, 0.925);
}
.operator-btn:hover{
     background-color: rgba(255, 166, 0, 0.997);
    
}
.operator-btn:active{
    background-color: rgb(255, 102, 0);
}